<!DOCTYPE html>
<html>
<head>
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>年会抽奖小程序</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/wall.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="main" class="wall">
    <div class="result-btn">
       <a id="motherfucker" href="./result.html" target="_blank">获奖名单</a> 
       <!-- Link -->
       <!-- The blurring effect only happens here with the wall  -->
    </div>
</div>
<!-- in source.js >>149 that's where results been shown  -->
<div id="result" class="result">
</div>
<!-- You need to change the v-for statement to the
    query into the bnts object while showing the name  -->
<!-- v-for= " in btns    -->
<div id="tools" class="tools">
     <button
        v-for="value in btns" 
        @click="onClick(value)"
        class="pure-button"
        :class="{ 'button-error': selected == value}"
       >{{value}}</button> 
    <!-- RELATE1-- v-for="value in btns[0]" -->

    <button
        v-for="names in priz"
        @click="judge(names)"
        class="pure-button button1">
        {{names}}
    </button>

    <button
       class="pure-button"
       @click="toggle"
       :class="{'button-secondary': !running,
               'button-success': running}">{{running?'停!':'开始'}}</button>
    <button class="pure-button button-warning" @click="reset">重置</button>
    <!-- 
    <button class="CCS learning required" 
    -->

</div>
<script type="text/javascript" src="js/zepto.js"></script>
<!-- <script type="text/javascript" src="js/vue.js"></script> -->
<!--
    PROBLEM: Vue.js devtool requires a full production of Vue.js
    Solution: Uncomment the following code and comment out the code
              above to switch
 -->
 
<script src="https://vuejs.org/js/vue.js"></script>

<script type="text/javascript" src="js/tagcanvas.js"></script>
<script type="text/javascript" src="js/member.js"></script>
<script type="text/javascript" src="js/source.js"></script>
<!-- The code below is added by Tian Shao -->
<script type="text/javascript" src="data/read-csv.js"></script>
<script type="text/javascript" src="js/export2csv.js"></script>
<script type="text/javascript" src="js/artist.js"></script>
</body>
</html>
